.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
}

.header img {
  cursor: pointer;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu,
.youtube-logo {
  height: 2.4rem;
}

.hamburger-menu {
  margin: 0 2rem;
}

.middle-section {
  flex: 1;
  margin-left: 7rem;
  margin-right: 3.5rem;
  max-width: 50rem;
  display: flex;
  align-items: center;
}

.right-section {
  width: 18rem;
  margin-right: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.search-bar {
  flex: 1;
  width: 0;
  height: 4rem;
  padding-left: 1.2rem;
  font-size: 1.6rem;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.search-bar::placeholder {
  font-size: 1.6rem;
}

.search-bar:focus {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  height: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  width: 6.4rem;
  background: #f7f7f7;
  margin-right: 0.8rem;
  border: 1px solid #c0c0c0;
  margin-left: -1px;
  display: flex;
  justify-content: center;
}

.search-icon {
  height: 2.4rem;
}

.voice-search-btn {
  width: 4rem;
  background: #f8f8f8;
  border-radius: 50%;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
}

.voice-search-icon {
  height: 2.4rem;
}

.upload-icon {
  height: 2.4rem;
}

.youtube-apps-icon {
  height: 2.4rem;
}

.notifications-icon {
  height: 2.4rem;
}

.notifications-count {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #cc0000;
  position: absolute;
  top: -2px;
  right: -5px;
}

.current-user-picture {
  height: 3.2rem;
  border-radius: 50%;
}

.search-btn,
.voice-search-btn,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip {
  font-size: 1.2rem;
  color: #fff;
  background: gray;
  padding: 1.2rem;
  border-radius: 2px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  bottom: -5.6rem;
  white-space: nowrap;
}

.search-btn .tooltip {
  bottom: -5.9rem;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-btn .tooltip {
  bottom: -5.8rem;
}

.voice-search-btn:hover .tooltip {
  opacity: 1;
}
