.sidebar {
  width: 9rem;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 6rem;
  z-index: 200;
}

.sidebar-link {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background: #eee;
}

.sidebar-link img {
  height: 2.4rem;
  margin-bottom: 1.2rem;
}

.sidebar-link p {
  font-size: 1.2rem;
}

@media (max-width: 750px) {
  body {
    padding-left: 0;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 1200.1px) {
  body {
    padding-left: 24rem;
  }

  .sidebar {
    width: 24rem;
  }

  .sidebar-link {
    height: 5.6rem;
    justify-content: start;
    flex-direction: row;
    gap: 2.4rem;
    padding-left: 2.4rem;
  }

  .sidebar-link img {
    align-self: center;
    margin-top: 1.2rem;
  }

  .sidebar-link p {
    font-size: 1.6rem;
  }
}
