.sidebar {
  width: 9rem;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 6rem;
  z-index: 200;
}

.sidebar-link {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background: #eee;
}

.sidebar-link img {
  height: 2.4rem;
  margin-bottom: 1.2rem;
}

.sidebar-link p {
  font-size: 1.2rem;
}
