.videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  background: #fafafa;
  padding: 2.4rem;
  border-top: 1px solid #c0c0c0;
}

@media (max-width: 750px) {
  .videos-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .videos-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .videos-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

.video-title a {
  text-decoration: none;
  color: #000;
}

.video-info-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.profile-picture {
  width: 3.6rem;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 0.6rem;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 1.2rem;
  color: #606060;
}

.video-author {
  margin-bottom: 0.4rem;
}

.video-time {
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 2px;
  position: absolute;
  right: 0.8rem;
  bottom: 1.2rem;
}
